.navigation {
    background-color: #808080;
    text-align: center;
    padding-top: 0px;
    padding-bottom: 0px;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
}

.navigation li {
/*  change color from gray/grey to #808080  */
    padding: 2px;
    font-size: 18px;
    background-color: #808080;
    list-style: none;
    
}

.navigation a {
/*  change color from white to #ffffff  */    
    color: #ffffff;
}

.navigation ul {
/*  add justify-content to ul to spread out the navigation li evenly across the width of the div */    
    padding: 0px;
    display: flex;
    justify-content: space-between;
    align-content: center;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

body {
    padding-top: 20px;
    margin: auto;
    width: 75%;
    text-align: justify;
    font-family: 'Oswald', sans-serif;
    font-size: 14px;
    color: #3d414a;
    background-color: #ffffff;
}

.main {
    margin-top: 75px;
    background-color: #ffffff;
}

h1 {
/*  changed margin-top from 150px to 75px to reduce the space between navigation and h1  */    
    color: #3d414a;
    margin-top: 75px;
}

h2 {
    color: #3d414a;
}

h5 {
    color: #3d414a;
    margin-bottom: 40px;
}

.acadiahome img {
    width: 100%;
    margin-top: 20px;
}

.images img {
    width: 50%;
}

.images {
    text-align: center;
}

#active {
    /*  this style feature is not applying need to troubleshoot  */
    color: #228B22;
}

.container{
    display: flex;
}

.thumbnail img {
    width: 100%;
}

.thumbnail {
    margin:20px;
}

.acadiaimages {
    background-image: url("images/home/acadiahome.jpg");
    height: 500px;
    background-size: cover;
    background-position: center top;
}

.roadtrip {
    background-image: url("images/roadtrip/camdenhillsstatepark.jpg");
    height: 500px;
    background-size: cover;
    background-position: center top;
}

.acadia {
    background-image: url("images/acadia/bubblepond.jpg");
    height: 500px;
    background-size: cover;
    background-position: center top;
}

.barharbor {
    background-image: url("images/barharbor/barharbordocks.jpg");
    height: 500px;
    background-size: cover;
    background-position: center top;
}

.seasonal img {
    width: 50%;
    margin-top: 20px;
}

.acadiafall {
    background-image: url("images/seasonal/acadiafall.jpg");
    height: 500px;
    background-size: cover;
    background-position: center top;
}

.acadiawinter {
    background-image: url("images/seasonal/acadiawinter.jpg");
    height: 500px;
    background-size: cover;
    background-position: center top;
}

.acadiaspring {
    background-image: url("images/seasonal/acadiaspring.jpg");
    height: 500px;
    background-size: cover;
    background-position: center top;
}

.acadiasummer {
    background-image: url("images/seasonal/cadillacmountainview.jpg");
    height: 500px;
    background-size: cover;
    background-position: center top;
}

.historical {
/*  increasing height to 1000px for full image historical_01.jpg to display in full  */    
    background-image: url("images/historical/historical_01.jpg");
    height: 1000px;
    background-size: cover;
    background-position: center top;
}

.jump {
/*  using position: relative and negative value for top is resolving thr problem of content of preceding div displaying   */    
    position: relative;
    top: -60px;
}

